@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Orbitron", sans-serif;
}



/*This si for the background image in the BANNER section part 1*/

.bg-about{
	background-color: rgba(255,255,255,0.9);
}


/*This si for the background image in the BANNER section part 2*/

#landing{
	background-image: url(./images/pinatubo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	width: auto;
	height: auto;
	background-position: center center;
	background-attachment: scroll;
	color: #726f66;
}



/*This is the H1 text in the BANNER section*/

.bg-title{
	color: white;
	font-size: 4vw;
}

/*This is the H3 text in the BANNER section*/

.bg-sub{
	color: white;
	font-size: 2vw;
}

/*This is the P text in the BANNER section*/

.bg-par{
	color: white;
	font-size: 1vw;
}



/*this is for LOGOs in ABOUT section to keep them small*/
#about-section-logos{
	height: auto;
	width: 75px;
	border-radius: 125px;

}


/*ABOUT SECTION heading*/
#about-heading-one{
	color: white;
	font-size: 2.5vw;
}


/*ABOUT SECTION pharagrap*/
#about-paragraph-one{
	color: white;
	font-size: 1.5vw;
}

/*ABOUT SECTION carousel images*/
#carousel-images{
	width: 75%;
	max-width: 75%;
	height: auto;

}


/*about section log and text portion*/
/*#about-section-logo-and-text{
	width: 50%;
	height: auto;
}
*/

/*PROJECT SECTION h2*/

.project-heading-two{
	text-align: center;
	font-size: 5vw;
	color: black;
}

/*	TOOLS HEADING three*/

#tools-heading-three{
	color: white;
	font-size: 5vw;
}




/*CONTACT SECTION heading 1*/
section > div > div > h1{
	color: black;
	font-size: 5vw;
}



#coretools, #contact, #about{
	height: 100%;
	width: 100%;
}



html{
	scroll-behavior: smooth;
}